aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
cffi
click
cryptography
deprecation
dnspython
email_validator
exceptiongroup
fastapi
fastapi-cli
frozenlist
gotrue
gunicorn
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
IMAPClient
Jinja2
markdown-it-py
MarkupSafe
mdurl
multidict
packaging
postgrest
pycparser
pydantic
pydantic_core
Pygments
PyJWT==2.9.0
python-dateutil
python-dotenv
python-multipart
realtime
rich
shellingham
six
sniffio
starlette
storage3
StrEnum
supabase
supafunc
typer==0.12.5
typer-slim==0.12.5
